nav
{
  background-color: #616161;
  padding-left: 8vw;
}

a
{
  color: white;
  margin-right: 1vw;
}

footer
{
  background-color: blue;
}

#header-text
{
  color: white;
  top: 50vh;
  right: 50vw;
}

#about
{
  background-color: red;
}

#projects
{
  background-color: purple;
}

#contact
{
  background-color: orange;
}