nav
{
  background-color: #021d25;
  padding-left: 8vw;
}

a
{
  color: white;
  margin-right: 1vw;
}

footer
{
  background-color: #021d25;
}

footer h3
{
  color: white;
}

#header-text
{
  color: white;
  top: 50vh;
  right: 50vw;
}

#about, #contact
{
  background-color: white;
}

#projects
{
  background-color: rgb(216, 216, 216);
}

#copyright-year
{
  color: rgb(0, 162, 255);
}